@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-slate-900 bg-white;
  }
}

/* Your custom Glass OS Grid */
.bg-grid {
  background-image: 
    linear-gradient(to right, #f1f5f9 1.5px, transparent 1.5px),
    linear-gradient(to bottom, #f1f5f9 1.5px, transparent 1.5px);
  background-size: 60px 60px;
}